@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-primary-content;
  }

  .btn-secondary {
    @apply bg-secondary text-secondary-content;
  }

  .btn-accent {
    @apply bg-accent text-accent-content;
  }

  .btn-info {
    @apply bg-info text-info-content;
  }

  .btn-success {
    @apply bg-success text-success-content;
  }

  .btn-warning {
    @apply bg-warning text-warning-content;
  }

  .btn-error {
    @apply bg-error text-error-content;
    color: oklch(27% .105 12.094);
  }

}